body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keys {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.display {
  border: 1px solid black;
  grid-column: 1 / 5;
  font-size: xx-large;
  font-weight: bold;
  text-align: right;
  padding: 25px;
}

.result {
  grid-column: 4;
  grid-row: 2 / 6;
  background-color: yellowgreen;
  color: white;
}

.operator {
  background-color: lightgray;
  color: white;
}

.clear {
  background-color: tomato;
  color: white;
}

.display {
  font-size: xx-large;
  font-weight: bold;
}

button {
  font-size: xx-large;
  font-weight: bold;
  background-color: snow;
}

button:hover {
  color: white;
  background-color: lightsteelblue;
}