#calculator {
  border: 1px solid red;
  padding: 50px;
  width: 500px;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#display {
  grid-column: 1 / 5;
  font-size: xx-large;
  font-weight: bold;
  text-align: right;
  padding: 25px;
}

.button {
  font-size: x-large;
  font-weight: bold;
}